body {
    background-color: #35140a;
    color: #757575; 
}
h2 {
    text-align: center;
    
}

.myAnimalCard {
    margin: 10px 10px;
    color: #FFA000;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #5b071b;
    -webkit-box-shadow: 11px 11px 14px #24030b, -11px -11px 14px #920b2b;
    box-shadow: 11px 11px 14px #24030b, -11px -11px 14px #920b2b;
}


#app {
    margin-block: 4px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around 
}

.btn-primary {
  background-color: #5b410c;
};



