body {
    background-color: #303F9F;
    color: #757575; 
}
h2 {
    text-align: center;
    
}

.myAnimalCard {
    margin: 10px 10px;
    color: #2d5b6b;
    background-color: #52494c;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #c5d0f2;
    -webkit-box-shadow: 19px 19px 24px #a7b1ce, -19px -19px 24px #e3efff;
    box-shadow: 19px 19px 24px #a7b1ce, -19px -19px 24px #e3efff;
}


#app {
    margin-block: 4px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around 
}

.btn-primary {
  background-color: #536DFE;
};


